/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Bangers', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Your code starts here! */
body{
	background-color: white;
	color: black;
}

body:hover{
	background-color: none;
	color: black;
}

.container{
	width: auto;
	margin: auto;
	padding: auto;
}

.container header{
	width: auto;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10%;
  color: blue; 
}

.container header nav{
	background-color: white;
  transition: 0.8s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.9);
	position: auto; 
}

.container header nav:hover{
	background-color: grey;
}

.container header nav a{ 
	color: black;
	text-decoration: none;
	display:inline-block;
	margin: 20px;
  padding: 20px;
  margin: 20px;
  font-size: 10px;
  text-align: center;
  word-spacing: 20px;
  opacity: 1;
  transition: 0.8s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.9);
  text-align: center;
}

.container header nav a:hover{
	color: white;
  opacity: 1;
  transition: 0.8s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.9);
}

.container header nav .logo{
	background-color: white;
	padding:20px;
	margin-left: auto;
}

section.marketing-banner{
	border-bottom: 10px solid black;
	padding-bottom: 50px;
	margin: 24px 0;
}

section div.innovation{
	width:50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	height: 100%;
	padding: 40px;
  margin-right: auto;
  font-family: 'Bangers', cursive;
}

div.innovation h1 span{
	font-size: 50px;
	display:block;
}

div.innovation h1 span:hover {
	font-size: 50px;
  color: grey;
  display:block;
  opacity: 1;
  transition: 0.8s; 

}

div.innovation button{
	width: 160px;
	padding: 4px;
  color: black;
}

div.innovation button:hover{
	width: 160px;
	padding: 4px;
  color: black;
  opacity: 1;
  transition: 0.8s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.9);
}

section .header-image{
	width: 35%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

section.content-top{
	width: 100%;
	padding: 20px;
}

section div p{
	color: black;
	line-height: auto;
}

section div p:hover{
  opacity: 1;
  transition: 0.8s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.9);
}
section.content-top div{
	width: 47%;
	display: inline-block;
}

section.content-top div:first-child{
	margin-right: 40px;
}

.mid-page-accent{
  width: 100%;
 

}

section.content-bottom{
	width: 100%;
	border-bottom:1px solid black;
	padding-bottom: 50px
}

section.content-bottom div{
	width: 30%;
	margin-right: 20px;
	display: inline-block;
	padding: 20px; 
}

section.content-bottom div:hover{
color: black;
  {
    

section.content-bottom div p{
	text-align: justify;
	display: inline-block;
}
